fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.4
pydantic-settings==2.7.1

docling

sentence-transformers
torch   
numpy

qdrant-client

python-dotenv

openai

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.52.4
tokenizers==0.21.1
accelerate==1.2.1
sentence-transformers==3.2.1